.Burgertop {
  background-color: #f1a93b;
  height: 50px;
  border-radius: 25px 25px 0px 0px;
  margin-bottom: 5px;
}
.Burgerbase {
  background-color: #f1a93b;
  height: 50px;
  border-radius: 0px 0px 25px 25px;
}
.Burgertomato {
  background-color: #ea3323;
  color: #faf8ec;
  height: 50px;
  margin-bottom: 5px;
  text-align: center;
  padding-top: 15px;
}
.Burgermeat {
  background-color: #814233;
  color: #faf8ec;
  height: 50px;
  margin-bottom: 5px;
  text-align: center;
  padding-top: 15px;
}
.Burgerlettuce {
  background-color: #407931;
  color: #faf8ec;
  height: 30px;
  margin-bottom: 5px;
  text-align: center;
  padding-top: 8px;
}
.Burgercontainer {
  margin: 10px 60px 10px 60px;
}
